html, body {
  height: 100%;
  font-size: 1em;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a:link {
  color: #254af3;
  text-decoration: none;
}

a:visited {
  color: #295abc;
}

a:hover {
  color: #3060ff;
}

a:active {
  color: #6699ff;
}

p, ul {
  margin-bottom: 20px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #333;
}

h1 {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 4px;
}

h2 {
  padding: 0 0 10px 0;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5, h6 {
  font-size: 1em;
}

#c {
  width: calc(100% - 371px);
  height: calc(100% - 180px);
  float: left;
  border-style: none;
  overflow: hidden;
  border-right-style: solid;
  border-right-color: rgb(142, 163, 217);
  border-right-width: 1px;
  outline: none;
}

#nav {
  width: 370px;
  height: 100%;
  float: right;
  border-style: none;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.accordion {
  font-size: 1.1em;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0;
}

.accordion:hover {
  background-color: #ccc;
}

.run-button {
  background-color: rgb(142, 163, 217);
  border: 1px solid #ced4da;
  border-left: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  background-clip: padding-box;
  appearance: none;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  margin-left: -2px;
}

.run-button:hover {
  background-color: rgb(132, 152, 207);
}

.active {
  font-weight: bolder;
  color: #fff;
  background-color: rgb(142, 163, 217);
}

.active.accordion:hover, .active.button:hover {
  background-color: rgb(132, 152, 207);
}

.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.route-part {
  font-size: 0.9em;
  font-weight: bolder;
  background-color: rgb(210, 250, 237);
  color: #444;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
  padding: 18px;
  width: calc(100% - 36px);
  text-align: left;
  border: none;
  outline: none;
  border-radius: 0px;
}

.route-part:hover {
  background-color: rgb(200, 240, 227);
}

.level-part {
  font-size: 0.9em;
  font-weight: bolder;
  background-color: rgb(199, 211, 242);
  color: #444;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
  padding: 18px;
  width: calc(100% - 36px);
  text-align: left;
  border: none;
  outline: none;
  border-radius: 0px;
}

.level-part:hover {
  background-color: rgb(189, 201, 232);
}

input {
  width: 260px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  margin-right: -2px;
}

.input-error {
  outline: none;
  border: 1px solid #f33;
  background-color: #fcc;
}

datalist {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#survey-element {
  width: calc(100% - 371px);
  height: 180px;
  float: left;
  border-style: none;
  border-right-style: solid;
  border-right-color: rgb(142, 163, 217);
  border-right-width: 1px;
}

.sv-text {
  display: none;
}

.sv-footer {
  padding: 0;
}

.sv-btn {
  text-align: center;
}

.sv-footer__next-btn, .sv-footer__complete-btn {
  float: left;
}
.sv-body__page, .sv-body__footer {
  margin-top: 0.5em;;
}

.sv-completedpage, .sv-completedpage::before {
  height: auto;
  padding: 0;
}